<pre ng-if="CONFIG.showTemplateLabels" style="line-height:90%">
   *    ┌─┐┬─┐┌┬┐┬┌─┐┬  ┌─┐  ┌─┐┬┌┐┌┌─┐┬  ┌─┐
   *    ├─┤├┬┘ │ ││  │  ├┤───└─┐│││││ ┬│  ├┤
   *    ┴ ┴┴└─ ┴ ┴└─┘┴─┘└─┘  └─┘┴┘└┘└─┘┴─┘└─┘
  <hr>
</pre>

<div ng-include="'assets/views/loading.html'"></div>

<section ng-if="content" class="article-single fade">
  <h3 ng-if="!content.url">{{content.title}}</h3>
  <h3 ng-if="content.url"><a href="{{content.url}}" target="_blank">{{content.title}}<span ng-include="'assets/images/icons/link-external.svg'" aria-hidden="true"></span><span ng-include="'assets/images/icons/link-pdf.svg'" aria-hidden="true"></span></a></h3>
  <!-- <h5>Score:{{data.score}}</h5> -->
  <!--p>{{data}}</p -->
  <p>{{data.matches}}</p>
  
  <p ng-bind-html="content.content.brief"></p>
</section>
