<pre ng-if="CONFIG.showTemplateLabels" style="line-height:90%">
 *    ┬ ┬┌─┐┌─┐┌┬┐┌─┐┬─┐   ┬┌┐┌┌┬┐┌─┐┬─┐┬┌─┐┬─┐
 *    ├─┤├┤ ├─┤ ││├┤ ├┬┘───││││ │ ├┤ ├┬┘││ │├┬┘
 *    ┴ ┴└─┘┴ ┴─┴┘└─┘┴└─   ┴┘└┘ ┴ └─┘┴└─┴└─┘┴└─
 <hr>
 <json-formatter json="content" open="1"></json-formatter>
</pre>

<div ng-include="'assets/views/loading.html'"></div>

<div ng-if="content" class="show-for-medium medium-4 large-3 columns align-self-middle padding-right-none padding-left-none header-icon header-icon-{{content.slug}}" ng-include="'assets/images/collection-icons/' + content.slug + '.svg'"></div>

<div ng-if="content" class="columns align-self-middle">
  <h2>
    <span ng-if="content" class="show-for-small-only header-icon header-icon-{{content.slug}}" ng-include="'assets/images/collection-icons/' + content.slug + '.svg'"></span>
    {{content.title}}
  </h2>
  <p ng-bind-html="content.content.brief" class="header-long-content"></p>
</div>
