<pre ng-if="CONFIG.showTemplateLabels" style="line-height:90%">
 *                  _   _               _   _         _
 *  ___ _ _ ___ ___| |_|_|___ ___ ___  | |_| |_ _____| |
 * | . | | | -_|_ -|  _| | . |   |_ -|_|   |  _|     | |
 * |_  |___|___|___|_| |_|___|_|_|___|_|_|_|_| |_|_|_|_|
 *   |_|
 <hr>
 <json-formatter json="content" open="1"></json-formatter>
</pre>

<section>
  <h2>Ask a Question</h2>
  <ul class="icon-list">
    <li>
      <span ng-include="'assets/images/icons/envelope.svg'" aria-hidden="true" class="icon-list-icon"></span>
      Email your question to <a href="mailto:ombcyber@omb.eop.gov">ombcyber@omb.eop.gov</a>
    </li>
    <li>
      <span ng-include="'assets/images/logo-github.svg'" aria-hidden="true" class="icon-list-icon"></span>
      Ask your question on <a href="https://github.com/ombegov/pylon/issues/new" target="_blank">Github</a>
    </li>
  </ul>
</section>

<section class="margin-double-top">
  <h2>Recent Questions</h2>
  <load-block data="{'template': 'question.html', 'content': 'questions', 'field': 'content'}"></load-block>
</section>
