<pre ng-if="CONFIG.showTemplateLabels" style="line-height:90%">
 *                  _   _               _   _         _
 *  ___ _ _ ___ ___| |_|_|___ ___ ___  | |_| |_ _____| |
 * | . | | | -_|_ -|  _| | . |   |_ -|_|   |  _|     | |
 * |_  |___|___|___|_| |_|___|_|_|___|_|_|_|_| |_|_|_|_|
 *   |_|
 <hr>
 <json-formatter json="content" open="1"></json-formatter>
</pre>

<section>
  <h2>Ask the CISO a Question</h2>
  <p>Ask the U.S. Chief Information Security Officer a question. Email your question to: <a href="mailto:ombcyber@omb.eop.gov">ombcyber@omb.eop.gov</a>.
  <h3>Recent Questions</h3>
  <content-block ng-repeat="question in content track by $index" data="{'obj':question, 'index':$index, 'type':'questions'}"></content-block>
</section>

<section>
  <h2>
    <span ng-include="'assets/images/logo-github.svg'" aria-hidden="true"></span>
    Report a Website Issue
  </h2>
  <p>If you’re having an issue with the <strong>cyber.gov</strong> website, please <a href="https://github.com/ombegov/pylon/issues/new" target="_blank">report the issue</a> at our code repository on Github.</p>
</section>
