<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/styles.min.css">
  <link rel="apple-touch-icon" href="assets/favicons/apple-touch-icon.png?site=policy.cio.gov" sizes="180x180">
  <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png?site=policy.cio.gov" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png?site=policy.cio.gov" sizes="16x16">
  <link rel="shortcut icon" href="assets/favicons/favicon.ico?site=policy.cio.gov">
  <link rel="manifest" href="assets/favicons/manifest.json?site=policy.cio.gov">
  <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg?site=policy.cio.gov" color="#981b1e">
</head>

<body ng-controller="ui">

  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      <div class="off-canvas-content" data-off-canvas-content>

        <div class="row expanded">

          <div class="small-24 medium-expand columns small-order-2 medium-order-1 padding-none max-global">

            <header id="main-header" class="row expanded row-header">

              <div class="small-24 columns small-order-2 large-order-1 padding-none">

                <div class="row">
                  <div class="small-24 columns padding-none official-website">
                    <a href="#main-content" target="_self" class="show-on-focus">Skip to main content</a>
                    <div class="tagline">An official website of the United States government</div>
                  </div>
                </div>

                <div class="row row-grow">

                  <div class="columns shrink header-top header-button header-button-menu">
                    <div ng-if="!applicationStates">
                      <div class="loader">Loading...</div>
                    </div>
                    <div ng-cloak ng-if="applicationStates">
                      <button type="button" data-toggle="offCanvasLeft" title="Open Navigation Menu">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                      </button>
                    </div>
                  </div>

                  <div class="columns header-top header-main padding-bottom-none">

                    <div class="row header-bar">
                      <h1 class="small-24 large-8 columns">
                        <a ui-sref="home">{{CONFIG.siteTitle}}</a>
                      </h1>
                      <div class="small-24 large-16 columns site-tagline" ui-view="tagline"></div>
                    </div>

                    <div ui-view="headerContent" class="header-main-content"></div>

                  </div>

                </div>

              </div>

            </header>

            <main id="main-content" class="row main-content" ng-class="$state.is('home') ? '' : 'stickycontent'">

              <div class="columns shrink column-border show-for-medium"></div>

              <article ui-view="primary" class="columns columns-content"></article>

              <aside ui-view="relatedContent" class="small-24 medium-6 xlarge-8 columns content-sidebar"></aside>

            </main>

            <footer id="main-footer" class="row row-grow expanded row-footer">

              <div class="columns shrink column-border show-for-medium"></div>

              <div ng-include="'assets/views/footer.html'" class="columns align-middle padding-double-all"></div>

            </footer>

          </div>

          <div ng-include="'assets/views/button-nav.html'" class="small-24 medium-expand columns small-order-1 medium-order-2 header-top header-button icon-menu max-global-diff"></div>

        </div>

      </div>

      <div ng-include="'assets/views/main-nav.html'" class="off-canvas position-left navbar" id="offCanvasLeft" data-off-canvas></div>

      <div class="off-canvas position-right sidebar" id="offCanvasRight" data-off-canvas data-position="right">
        <div>

          <button class="secondary button button-close float-right" aria-label="Close" title="Close" type="button" data-close>
            <span></span>
            <span></span>
          </button>

          <load-block ng-if="viewParams.sideViewData.content=='search'" data="viewParams.sideViewData"></load-block>
          <load-block ng-if="viewParams.sideViewData.content=='questions'" data="viewParams.sideViewData"></load-block>
          <load-block ng-if="viewParams.sideViewData.content=='alerts'" data="viewParams.sideViewData"></load-block>

        </div>
      </div>

    </div>
  </div>

  <script src="assets/scripts/jquery.min.js"></script>
  <script src="assets/scripts/angular.min.js"></script>
  <script src="assets/scripts/angular-ui-router.min.js"></script>
  <script src="assets/scripts/angular-animate.min.js"></script>
  <script src="assets/scripts/json-formatter.min.js"></script>
  <script src="assets/scripts/foundation.min.js"></script>
  <script src="assets/scripts/pylon.min.js"></script>

</body>
</html>
