<nav>

  <button ng-repeat="state in applicationStates | navFilter: 'rightNav' | orderBy: 'rightNavOrder'" type="button" title="{{state.title}}">
    <a ng-if="state.offCanvas" data-open="offCanvasRight" ng-click="viewParamsChange({ 'sideViewData': {'template': state.offCanvas + '.html', 'content': state.offCanvas, 'data':[{'content':'alerts'}]} })">
      <div class="row">
        <div class="columns" ng-include="'images/collection-icons/static/' + state.slug + '.svg'" aria-hidden="true"></div>
        <div class="xxxlarge-18 xxxxlarge-20 show-for-xxxlarge columns align-middle">{{state.title}}</div>
      </div>
    </a>
    <a ng-if="!state.offCanvas" ui-sref="{{state.name}}">
      <div class="row">
        <div class="columns" ng-include="'images/collection-icons/static/' + state.slug + '.svg'" aria-hidden="true"></div>
        <div class="xxxlarge-18 xxxxlarge-20 show-for-xxxlarge columns align-middle">{{state.title}}</div>
      </div>
    </a>
  </button>

</nav>
