
<pre ng-if="CONFIG.showTemplateLabels" style="line-height:90%">
 *    ┬ ┬┌─┐┌─┐┌┬┐┌─┐┬─┐   ┬┌┐┌┌┬┐┌─┐┬─┐┬┌─┐┬─┐
 *    ├─┤├┤ ├─┤ ││├┤ ├┬┘───││││ │ ├┤ ├┬┘││ │├┬┘
 *    ┴ ┴└─┘┴ ┴─┴┘└─┘┴└─   ┴┘└┘ ┴ └─┘┴└─┴└─┘┴└─
 <hr>
 <json-formatter json="content" open="1"></json-formatter>
</pre>

<section ng-if="!content">
  <div class="loader">Loading...</div>
</section>

<div class="row" ng-if="content">

  <div class="small-24 medium-6 xxlarge-4 columns align-middle" ng-include="'images/icons/help-hand.svg'" aria-hidden="true"></div>

  <div class="small-24 medium-18 xxlarge-20 columns align-middle">
    <h2>{{content.title}}</h2>
    <p ng-bind-html="content.content.micro"></p>
  </div>

</div>
