<pre ng-if="CONFIG.showTemplateLabels" style="line-height:90%">
   *    ┌─┐┬┌┐┌┌─┐┬  ┌─┐  ┌─┐┌─┐┌─┐┌┬┐┬┌─┐┌┐┌
   *    └─┐│││││ ┬│  ├┤   └─┐├┤ │   │ ││ ││││
   *    └─┘┴┘└┘└─┘┴─┘└─┘  └─┘└─┘└─┘ ┴ ┴└─┘┘└┘
  <hr>
</pre>
<div ng-if="CONFIG.showJSON">SECTION:</div>
<div ng-if="CONFIG.showJSON" ng-include="'views/json-display.html'"></div>

<div ng-include="'views/loading.html'"></div>

<section ng-if="loaded" class="fade">
  <h2>{{content.title}}</h2>
  <p ng-bind-html="content.content.micro"></p>
  <content-block ng-repeat="article in content.articles track by $index" data="{'obj':article, 'index':$index, 'type':'articles'}"></content-block>
</section>
