<div>

  <section>
    <h2>Ask the CISO a Question</h2>
    <form class="ask-question">
      <textarea title="Ask the CISO a Question" placeholder="Enter your question..."></textarea>
      <button type="submit" class="button small expanded button-info" data-toggle="offCanvasRight">
        <div class="button-info-icon">
          <span class="fa fa-send-o" aria-hidden="true"></span>
        </div>
        <div class="button-info-title">Send Your Question</div>
      </button>
    </form>
  </section>

  <section>

    <h2>Recent Questions</h2>

    <article ng-repeat="n in [1,2,3,4]">
      <time>October 9, 2016</time>
      <h3 class="question">What is the best way to make pancakes?</h3>
      <div class="answer">
        <p>Jelly sugar plum brownie marshmallow jelly beans candy tootsie roll. Oat cake ice cream caramels wafer. Fruitcake tootsie roll candy canes fruitcake chupa chups biscuit macaroon bear.</p>
      </div>
    </article>

  </section>

</div>
