<div class="row header-big-icons">

  <a ui-sref="get-help" id="big-icon-hand" class="small-24 large-8 columns">
    <h3>Get Help</h3>
    <div ng-include="'images/icons/help-hand-anim.svg'" aria-hidden="true"></div>
    <p>Access various resources to help improve your cybersecurity posture.</p>
  </a>

  <a ui-sref="protect-yourself" id="big-icon-umbrella" class="small-24 medium-12 large-8 columns">
    <h3>Protect Yourself</h3>
    <div ng-include="'images/icons/umbrella-anim.svg'" aria-hidden="true"></div>
    <p>Learn the basics to protect your personal data and yourself online.</p>
  </a>

  <a data-toggle="offCanvasRight" id="big-icon-airplane" class="small-24 medium-12 large-8 columns">
    <h3>Ask the CISO</h3>
    <div ng-include="'images/icons/paper-airplane-anim.svg'" aria-hidden="true"></div>
    <p>Find answers to all your most important cybersecurity questions.</p>
  </a>

</div>

<div class="row button-report-container">

  <div class="small-24 large-16 columns padding-top-none padding-bottom-none">
    <button ui-sref="get-help.incident-reporting" type="button" class="button button-info alert button-ask button-report">
      <div class="button-info-icon" ng-include="'images/icons/bang-circle.svg'" aria-hidden="true"></div>
      <div class="button-info-title">Report a cyber incident</div>
    </button>
  </div>

  <div class="show-for-large large-8 columns padding-none button-report-adjacent"></div>

</div>
