<h2>Incident Reporting</h2>
<p>Use the resources below to report cyber incidents to the appropriate authorities. If you or someone else is in immediate danger, please call 911 or local law enforcement.</p>

<section>
  <h3>Report a Cyber Incident</h3>
  <p>If you believe you or your organization have been the victim of a cybersecurity incident, defined as a violation or imminent threat of violation of computer security policies, acceptable use policies, or standard security practices, please report the incident to National Cybersecurity and Communications Integration Center (NCCIC).</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://www.us-cert.gov/forms/report">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-desktop" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Report a Cyber Incident</div>
        </button>
      </a>
    </div>
  </div>
</section>

<section>
  <h3>Report a Phishing Attempt</h3>
  <p>Phishing is defined as an attempt by an individual or group to solicit personal information from unsuspecting users by employing social engineering techniques, typically via emails containing links to fraudulent websites. Follow the instructions found here to submit these email messages to United States Computer Emergency Readiness Team (US-CERT) to help others avoid becoming victims of phishing scams.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://www.us-cert.gov/report-phishing">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-list-alt" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Report a Phishing Attempt</div>
        </button>
      </a>
    </div>
  </div>
</section>

<section>
  <h3>Report Identity Theft</h3>
  <p>If you believe you are a victim of identity theft, report it to the Federal Trade Commission (FTC) here, and find out what steps you can take to recover.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://identitytheft.gov">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-id-card" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Report Identity Theft</div>
        </button>
      </a>
    </div>
  </div>
</section>

<section>
  <h3>Report Ransomware or Internet Crime</h3>
  <p>If you have been the victim of ransomware, internet fraud, or other cybercrime, call your local law enforcement personnel and file a complaint with the Internet Crime Complaint Center (IC3) through this form.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://www.ic3.gov/complaint/default.aspx">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-credit-card" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Report Ransomware or Internet Crime</div>
        </button>
      </a>
    </div>
  </div>
</section>

<section>
  <h3>Report a Cyber Incident as an Industrial Control System (ICS)</h3>
  <p>If you are a representative of an Industrial Control System, please follow the Industrial Control Systems Cyber Emergency Response Team (ICS-CERT) reporting instructions found here.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://ics-cert.us-cert.gov/Report-Incident">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-cloud" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Report a Cyber Incident as an ICS</div>
        </button>
      </a>
    </div>
  </div>
</section>

<h2>Guidelines</h2>
<p>The resources below provide guidelines on how to handle cybersecurity incidents.</p>

<section>
  <h3>Ready.gov: Cyber Attack</h3>
  <p>Ready.gov is a national PSA designed to educate and empower Americans to prepare for and respond to emergencies. This resource includes information on what to do before, during, and after a cyber attack.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://www.ready.gov/cyber-attack">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Visit Ready.gov</div>
        </button>
      </a>
    </div>
  </div>
</section>

<section>
  <h3>US-CERT Federal Incident Notification Guidelines</h3>
  <p>Pursuant to the Federal Information Security Management Act (FISMA), each federal agency is required to notify and consult with US-CERT regarding information security incidents involving the information and information systems. Guidance for these notifications can be found here.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://www.us-cert.gov/incident-notification-guidelines">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-bullhorn" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">View the Notification Guidelines</div>
        </button>
      </a>
    </div>
  </div>
</section>

<section>
  <h3>NIST Computer Security Incident Handling Guide</h3>
  <p>Recommendations of the National Institute of Standards and Technology (NIST) assisting organizations in establishing computer security incident response capabilities and handling incidents efficiently and effectively. This publication provides guidelines for incident handling, particularly for analyzing incident-related data and determining the appropriate response to each incident.</p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-61r2.pdf">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-list" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">View the Incident Handling Guide</div>
        </button>
      </a>
    </div>
  </div>
</section>

<h2>Notifications</h2>
<p>Below you will find resources for those impact by Federal cyber incidents which involved the exposure of Personal Identifiable Information (PII).</p>

<section>
  <h3>Office of Personnel Management (OPM) Cybersecurity Resource Center</h3>
  <p>If you received a letter from OPM or you think you may have been one of the individuals that were impacted by the background investigation and personnel record incidents, please visit the resource center here to receive services provided by the Federal Government. </p>
  <div class="row">
    <div class="small-24 large-12 columns">
      <a href="https://www.opm.gov/cybersecurity ">
        <button type="button" class="button small expanded button-info alert">
          <div class="button-info-icon">
            <span class="fa fa-envelope" aria-hidden="true"></span>
          </div>
          <div class="button-info-title">Visit OPM Resource Center</div>
        </button>
      </a>
    </div>
  </div>
</section>
